
<!-- extends the parent template file -->
{% extends "gclass/pages/base.html" %}
{% block content %}
    <div class="vertical-center justify-content-center">
        <div class="jumbotron">
            <h1 class="display-4">Hello there!</h1>
            <p class="lead">We are a couple of students that developed this project
                for the Techniques of AI class of Universite Libre de Bruxelles</p>
            <hr class="my-4">
            <p>Upload your song file and we will try to recognize the gender of music that is being played. </p>
            <p class="lead">
            <form method="post" action="/gclass/upload" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document" class="btn btn-outline-info">
                <button type="submit" class="btn btn-info">Upload file</button>
            </form>
            </p>
            <p>Or you can upload a zip file containing all your music and we will classify it for you!</p>
            <form method="post" id="form_zip" action="/gclass/upload_zip" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="zip_doc" id="zip_doc" class="btn btn-outline-info">
                <button id="zip_button" type="submit" class="btn btn-info">Upload .zip file</button>
                <p id="not_valid_file">
                </p>
                <img id="loader" src="/media/spinner.gif" width="60" height="60"/>
            </form>
            <form method="post" id="download_zip" action="/gclass/download_zip" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <input type="text" id="request_id" name="request_id" class="btn btn-outline-info">
                <button id="zip_download" type="submit" class="btn btn-info"></button>
            </form>


        </div>
    </div>
    <script>
        $(function() {
            $( document ).ready(function() {
                $("#loader").hide();
                $("#not_valid_file").hide();
                $("#download_zip").hide();
                $('#form_zip' )
                    .submit( function( e ) {
                        e.preventDefault();
                        $("#loader").show();
                        $("#not_valid_file").hide();
                        $("#download_zip").hide();
                        $("[type='submit']").prop('disabled', true);
                        var data = new FormData(this);
                        var input_zip = $('#zip_doc');
                        $.each(input_zip[0].files, function(i, file) {
                            data.append('file', file);
                        });
                        $.ajax({
                            url: '/gclass/upload_zip',
                            data: data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            method: 'POST',
                            type: 'POST',
                            success: function(data){
                                $('#request_id').val(data['request_id']);
                                $('#zip_download').prop('disabled', false);
                                $('#zip_download').click();
                            },
                            error: function(data) {
                                $("#not_valid_file").show();
                                $("#not_valid_file").text(data['responseJSON']['message'])
                            },
                            complete: function(data) {
                                $("#loader").hide();
                                $("[type='submit']").prop('disabled', false);
                            }
                        });
                    } );
            });
        })

    </script>
{% endblock content%}