
<!-- extends the parent template file -->
{% extends "gclass/pages/base.html" %}
{% block content %}
    <div class="vertical-center justify-content-center">
        <div class="jumbotron">
            <h1 class="display-4">Hello there!</h1>
            <p class="lead">We are a couple of students that developed this project
                for the Techniques of AI class of Universite Libre de Bruxelles</p>
            <hr class="my-4">
            <p>Upload your song file and we will try to recognize the gender of music that is being played. </p>
            <p class="lead">
            <form method="post" action="/gclass/upload" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document" class="btn btn-outline-info">
                <button type="submit" class="btn btn-info">Upload file</button>
            </form>
            </p>
            <p>Or you can upload a zip file containing all your music and we will classify it for you!</p>
            <form method="post" action="/gclass/upload_zip" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document" class="btn btn-outline-info">
                <button id="zip_button" type="submit" class="btn btn-info">Upload .zip file</button>
                <p id="not_valid_zip">
                    {% if not_valid_zip %}
                    Please, select a .zip file
                    {% endif %}
                </p>
                <p id="not_valid_file">
                    {% if not_valid_object %}
                    Please, select a file
                    {% endif %}
                </p>
                <img id="loader" src="/media/loader.gif" width="40" height="40"/>
            </form>


        </div>
    </div>
    <script>
    $( document ).ready(function() {
        $("#loader").hide();
        console.log( "ready!" );
        $("#zip_button").click(function () {
            $("#loader").show();
            $("#not_valid_zip").hide()
        })
    });
    </script>
{% endblock content%}