{% extends "to_do_list/pages/base.html" %}
{% block content %}
    <div class="vertical-center">
        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <h1>About the project</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Mfcc information is extracted from the song and encodeed into
                        an array which is used as an input of the neural network.</p>
                    <p class="text-justify">Due to the complexity of implementation of NN we are using only
                        one hidden layer. Therefore the input layer has 25.000 neurons, the hidden layer
                        has 100 neurons and the output layer has only 10 neurons that represents the
                        ten genre of music we are classifying: blues, classical, country, disco, hiphop,
                        jazz, metal, pop, reggae, and rock.</p>
                    <p> A vercorized form of the logistic regression is used as a cost function. The neural network
                        was trained with 1000 songs only, 100 for each genre. </p>
                </div>
            </div>
            <div class="row">
                <div class="rd-flex justify-content-center">
                    <div class="p2">
                        <img src="../media/info/classical.jpg" width="950"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}