
<!-- extends the parent template file -->
{% extends "to_do_list/pages/base.html" %}
{% block content %}
    <div class="vertical-center justify-content-center">
        <div class="jumbotron">
            <h1 class="display-4">Hello there!</h1>
            <p class="lead">We are a couple of students that developed this project
                for the Techniques of AI class of Universite Libre de Bruxelles</p>
            <hr class="my-4">
            <p>Upload your song file and we will try to recognize the gender of music that is being played. </p>
            <p class="lead">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document" class="btn btn-outline-info">
                <button type="submit" class="btn btn-info">Upload file</button>
            </form>
            </p>
        </div>
    </div>
{% endblock content%}